<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
    <link rel="stylesheet" type="text/css" href="style.css">
    <meta charset="UTF-8">
    <title>Epiq Programming Assessment</title>
</head>
<body>
    <div id="app">
        <div v-if="popreturn" id = "chart" >
            <div id="cities">
                <form onsubmit="event.preventDefault(); return app.filter()">
                    <label class="input" for="cName">Enter City Name</label>
                    <input type="text" id="cName" name="cName">
                </form>
            </div>
            <div id="states">
                <label for="sName">Pick state(s) to search in. <br> Use ctrl or cmd to select multiple</label><br>
                <select id="sName" multiple="true">
                    <option v-for="states in statelist"
                            :value="states">
                        {{ states }}
                    </option>
                </select>
            </div>
            <div id="populations">
                <form onsubmit="event.preventDefault(); return app.filter()">
                    <label class="input" for="min">Smallest Population</label>
                    <input type="number" id="min">
                </form>
                <form onsubmit="event.preventDefault(); return app.filter()">
                    <label class="input" for="max">Largest Population</label>
                    <input type="number" id="max">
                </form>
            </div>
            <button id="filterbttn" onclick="app.filter()">Filter</button>
            <button id="resetbttn" onclick="app.reset()">Reset</button>
            <div id="list">
                <table id="listoflocations">
                    <tr>
                        <th @click="sort('cityname')">City Name</th>
                        <th @click="sort('state')">State</th>
                        <th @click="population('population')">Population</th>
                    </tr>
                    <tr v-for="item in modifiedlocationlist">
                        <td> {{ item.cityname }}</td>
                        <td> {{ item.state }}</td>
                        <td> {{ item.population }}</td>
                    </tr>
                </table>
            </div>
        </div>
        <div id="loading" v-else>
            <img src="https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/b6e0b072897469.5bf6e79950d23.gif">
        </div>
    </div>
    <script src = "Epiq_JS_file.js"></script>
</body>
</html>